body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 120%;
    height: 120%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    background: transparent;
    backdrop-filter: blur(4px);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
    max-width: 60%;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow: auto;
}

.photo {
    position: relative;
}

.video-background:hover #background-video {
    transform: scale(1.1);
}

.photo img {
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto 20px auto;
    transition: transform 0.3s;
}

.photo img:hover {
    transform: scale(1.1);
}

.photo a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.intro {
    margin-bottom: 20px;
}

.intro p {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: aliceblue;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.photo {
    filter: drop-shadow(10px 7px 10px black);
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    background: black;
    border: 2px solid transparent;
    transition: transform 0.6s ease, border-radius 0.6s ease;
}

.social-media a:hover {
    transform: scale(1.1);
    border-radius: 50%;
    transition: transform 0.6s ease, border-radius 0.6s ease;
}

.social-media a:not(:hover) {
    transform: scale(0.9);
    border-radius: 5px;
    transition: transform 0.6s ease, border-radius 0.6s ease;
}

.social-media a.instagram {
    border-color: rgba(225, 48, 108, 0);
}

.social-media a.youtube {
    border-color: rgba(255, 0, 0, 0);
}

.social-media a.discord {
    border-color: rgba(114, 137, 218, 0);
}

.social-media a.instagram:hover {
    border-color: rgba(225, 48, 108, 1);
}

.social-media a.youtube:hover {
    border-color: rgba(255, 0, 0, 1);
}

.social-media a.discord:hover {
    border-color: rgba(114, 137, 218, 1);
}

.social-media a img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
    }

    .photo img {
        height: 200px;
        width: 200px;
    }

    .intro p {
        font-size: 20px;
    }

    .social-media {
        flex-direction: column;
        gap: 10px;
    }

    .social-media a img {
        width: 50px;
        height: 50px;
    }

    .social-media a {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 20px;
    }

    .social-media a span {
        margin-left: 10px;
        font-size: 16px;
    }
}
