body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.container {
    background: transparent;
    backdrop-filter: blur(0px);
    padding: 0;
    box-shadow: none;
    text-align: center;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    position: relative;
    filter: drop-shadow(10px 7px 10px black);
}

.video-background:hover #background-video {
    transform: scale(1.1);
}

.photo img {
    height: 350px;
    width: 350px;
    display: block;
    margin: 0 auto 20px auto;
    transition: transform 0.5s;
}

.photo img:hover {
    transform: scale(1.1);
}

.photo a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.intro {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.intro p {
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: aliceblue;
}

/* Scrollbar hidden on all devices */
::-webkit-scrollbar {
    display: none;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.6s ease, border-radius 0.6s ease;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.social-media a:hover {
    transform: scale(1.1);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.social-media a:not(:hover) {
    transform: scale(0.9);
    border-radius: 5px;
}

.social-media a.instagram {
    border-color: rgba(225, 48, 108, 0);
}

.social-media a.youtube {
    border-color: rgba(255, 0, 0, 0);
}

.social-media a.discord {
    border-color: rgba(114, 137, 218, 0);
}

.social-media a.github {
    border-color: rgba(0, 0, 0, 0);
}

.social-media a.instagram:hover {
    border-image: linear-gradient(45deg, transparent, #405ce600);
    box-shadow: 0 0 20px #e1306c;
}

.social-media a.youtube:hover {
    border-image: linear-gradient(45deg, #ff0000, transparent(21, 0, 255, 0));
    box-shadow: 0 0 20px #ff0000;
}

.social-media a.discord:hover {
    border-image: linear-gradient(45deg, #7289da, transparent(21, 0, 255, 0));
    box-shadow: 0 0 20px #7289da;
}

.social-media a.github:hover {
    border-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8), transparent);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.social-media a.dolap {
    border-color: rgba(0, 255, 255, 0);
}

.social-media a.dolap:hover {
    border-image: linear-gradient(45deg, #00d2b3, transparent);
    box-shadow: 0 0 20px #00d2b3;
}

.social-media a.dolap img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}


.social-media a img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

/* Mobil versiyon için düzenlemeler */
@media (max-width: 600px) {
    .social-media {
        flex-direction: column;
        width: 70%; /* Sosyal medya kapsayıcısının tam genişlikte olmasını sağlar */
        padding-left: 0; /* Gerekirse padding kaldırılır */
        margin-left: 0; /* Sola yaslanması için margin kaldırılır */
        justify-content: flex-start; /* Yatayda sola yaslama */
        align-items: flex-start; /* Dikeyde sola hizalama */
    }

    .social-media a {
        width: 100%; /* Linklerin genişliği */
    }

    .social-media a:hover {
        transform: none !important;
        box-shadow: none !important;
    }

    .photo img {
        height: 100%; /* Mobil için görsel boyutunu küçültüyoruz */
        width: 100%;
    }

    .intro p {
        font-size: 250%; /* Yazı boyutunu mobilde küçültme */
    }

    body {
        overflow-y: auto; /* Yatay kaydırmayı kontrol etme */
    }
    
    /* Video arka planının kaydırma ile uyumlu olması için ayar */
    .video-background {
        height: 100%; /* Tam ekran yüksekliği */
        overflow: hidden; /* İçerik taşmasını engelle */
    }
    
    /* Mobilde içerik alanının genişliği ve hizalaması */
    .container {
        width: 100%;
        height: auto; /* İçeriğin tam yüksekliği kullanması için */
        padding: 0 10px; /* Kenarlarda biraz boşluk bırakma */
        box-sizing: border-box; /* Padding ve border'ı genişlik hesaplamalarına dahil et */
    }
}

